@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Academic Record Management</h1>
    <p>Select top menu item for managing students, courses or academic records</p>
</div>
